<div ng-controller="MathController">

    <!--TODO #7-->
    <p>Number a: <input type="number" ng-model="nr1"></p>

    <p>Number b: <input type="number" ng-model="nr2"></p>

    <p>
        <!--TODO Button for calculating values-->
    <button type="button" ng-click="calculate()">Calculate</button>

    </p>

    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>


    <!--<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>-->
    <!--<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
    <!--<script type="text/javascript" src="../bower_components/angular/angular.js"></script>-->
    <!--<script type="text/javascript" src="../scripts/app.js"></script>-->
</div>