<div ng-app="hrApp">
    <div ng-controller="MathController">

        <p>Number a: <input type="number" ng-model="nrA"> </p>

        <p>Number b: <input type="number" ng-model="nrB"> </p>

        <p>
            <button class="btn btn-primary" ng-click="calculate()">Calculate</button>

        </p>

        <p> a + b = <span>{{op1}}</span></p>

        <p> a - b = <span>{{op2}}</span></p>

        <p> a * b = <span>{{op3}}</span></p>

        <p> a / b = <span>{{op4}}</span></p>
    </div>
</div>