<!DOCTYPE html>
<html lang="en">
<body>
<div ng-app="hrApp">
    <div ng-controller="mathOperators">
        <p>Number A: <input type="number" ng-model="num1" ng-click="alert(num1)"/></p>
        <p>Number B: <input type="number" ng-model="num2"/></p>
        <!--<button ng-click="alert('mesaj')" ></button>-->
        <p>Addition A + B = {{ num1 + num2}}</p>
        <p>Subtraction: A - B = {{ num1 - num2}}</p>
        <p>Multiplication: A * B = {{num1 * num2}}</p>
        <p>Division: A / B = {{num1 / num2}}</p>
    </div>
</div>
<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="../bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/mathOperators.js"></script>
</body>


</html>