
<div ng-controller="ColorsController">
    <p>
        <label>Text
            <select ng-options="color.text for color in colors track by color.text" ng-model="myText"></select>
        </label>
    </p>
    <p>
        <label>Text grouped by type
            <select ng-options="color.text group by color.type for color in colors" ng-model="TxtByType"></select>
        </label>
    </p>
    <p>
        <label>Class
            <select ng-options="color as color.class for color in colors" ng-model="selectedClass" ng-change="changeColor()"></select>
        </label>
    </p>
    <p>
        <span class="{{ selected }}">Some text</span>
    </p>
    <p>
        Filter list by: <input type="text" ng-model="filterer"/>
    <p>
    <p>
        Sort list by: <input type="text" ng-model="orderer"/>
    </p><br>
    <ul>
        <li ng-repeat="color in colors"> {{ color.text }}</li>
    </ul>
    <br>
    <ul> Filtered list:
        <li ng-repeat="color in colors | filter: filterer">
            {{ color.text }}
        </li>
    </ul>
    <br>
    <table id="orderBySome" class="table"> Ordered list:
        <th>Text</th><th>Class</th><th>Type</th>
        <tr ng-repeat="color in colors | orderBy : orderer">
            <td>{{ color.text }}</td><td>{{ color.class }}</td><td>{{ color.type }}</td>
        </tr>
    </table>
</div>
